/* Collapsible menu sections */
.menu .menu-collapsible-toggle {
	cursor: pointer;
}

.menu .menu-collapsible-toggle::after {
	content: '\f345';
	font-family: dashicons;
	font-size: 1em;
	margin-left: 0.3em;
	display: inline-block;
	transition: transform 0.2s ease;
	vertical-align: middle;
}

.menu .menu-collapsible-toggle.is-open::after {
	transform: rotate(90deg);
}

.menu .menu-collapsible-content {
	display: none;
}

.menu .menu-collapsible-content.is-open {
	display: block;
}

.menu .menu-collapsible-content .menu-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu .menu-collapsible-content .menu-nav .menu-item {
	padding-left: 1em;
}
